/**/.vitis_hls_log_all.xml
/SHA256/Vitis/.project
/**/*.jou
/**/*.log
/**/*.funcunit
/SHA256/Vitis/*/*_data.json
/SHA256/Vitis/Debug/
/**/.autopilot/
/**/.settings/
/**/*.cache/
/**/.debug/
/**/*.runs/
/**/*.sim/
/**/*.hw/
/**/.Xil/
/**/.apc/
