/**/.vitis_hls_log_all.xml
/SHA256/Vitis/.project
/**/*src*/*/.*
/**/*.jou
/**/*.str
/**/*.log
/**/*.funcunit
/SHA256/Vitis/*/*_data.json
/SHA256/Vitis/Debug/
/**/*.ip_user_files/
/**/.autopilot/
/**/.settings/
/**/*.cache/
/**/.debug/
/**/*.runs/
/**/*.sim/
/**/*.gen/
/**/*.hw/
/**/.Xil/
/**/.apc/
